<%- include("template/cabecera") %>  

<main class="center-block">
    <h1 class="text-light">QUIENES SOMOS</h1>
    <h2>Desarrolladores</h2>
    <p>Somos un grupo de estudiantes de la universidad Catolica de Temuco, especificamente estudiantes de la carreara de ingenieria civil en informatica </p>
    <ul>
        <li>Jose miguel ALderete</li>
        <li>Cristian Angulo</li>
        <li>Nicolas Barros</li>
    </ul>

</main>

    
    <%- include("template/footer") %>  