<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css"  rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <title> <%= titulo %>  </title>
    <script>
        const user = "<%= user %>";
    </script>
</head>
<body>
    <%- include("navbar") %>  